<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
      colors="true"
      testdox="true"
      bootstrap="tests/bootstrap.php"
    >
    <coverage processUncoveredFiles="true">
      <include>
          <directory suffix=".php">./src</directory>
      </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Database">
            <directory suffix="Test.php">tests/Database</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_KEY" value="baO8evYQAcXo09RYrnPttJphqhSSC8Y9"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value="tests/db/testcase.db"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
